<div class="material-card-wide mdl-card mdl-shadow--2dp form-card">
  <div class="mdl-card__title mdl-card--border">
    <h2 class="mdl-card__title-text">{{ title }}</h2>
  </div>
  <form [formGroup]="form" novalidate (ngSubmit)="save()">
    <div class="add-edit-form">
      <mat-grid-list cols="2" rowHeight="70px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-select placeholder="Country" formControlName="countrycode" name="country" class="form-full-width">
            <mat-option [value]="">
              N/A
            </mat-option>
            <mat-option *ngFor="let country of countrysData" [value]="country.code">
              {{ country.code }} | {{ country.name }} - {{ country.continent }} - {{ country.region }} - {{ country.surfacearea }} - {{ country.indepyear }} - {{ country.population }} - {{ country.lifeexpectancy }} - {{ country.gnp }} - {{ country.gnpold }} - {{ country.localname }} - {{ country.governmentform }} - {{ country.headofstate }} - {{ country.capital }} - {{ country.code2 }}
            </mat-option>
          </mat-select>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-input-container class="form-full-width">
            <input matInput placeholder="language " formControlName="language">
          </mat-input-container>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-input-container class="form-full-width">
            <input matInput placeholder="isofficial" required formControlName="isofficial">
            <mat-error *ngIf="!form.controls.isofficial.valid">
              isofficial is required
            </mat-error>
          </mat-input-container>
        </mat-grid-tile>	
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-input-container class="form-full-width">
            <input matInput placeholder="percentage" required formControlName="percentage">
            <mat-error *ngIf="!form.controls.percentage.valid">
              percentage is required
            </mat-error>
          </mat-input-container>
        </mat-grid-tile>	
      </mat-grid-list>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <div class="card-footer-button form-button">
        <button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button" (click)="initForm()">
          Reset
        </button>
        <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary" [disabled]="!form.valid">
          Save
        </button>
        <button type="button" [disabled]="!countrylanguage?.countrycode && !countrylanguage?.language" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" (click)="deleteConfirmation()">
          Delete
        </button>
      </div>
    </div>
  </form>
  <div class="mdl-card__menu">
    <a mat-raised-button class="card-header-button" [routerLink]="['/countrylanguage-list']">Countrylanguage list</a>
  </div>
</div>